<div class = "main_container">
  <div class="information">
    <h2>スケジュール一覧</h2>
  </div>
  <table> 
      <tr>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
      </tr> 
      <% @posts.each do |post| %>
        <tr>
          <th><%= post.title %></th>
          <th><%= post.start %></th>
          <th><%= post.finish %></th>
          <th><%= post.all_day %></th>
          <th><%= post.updated_at.strftime('%Y/%m/%d') %></th>
          <th> 確認 </th>
          <th> 編集 </th>
          <th> 削除 </th>
        </tr>
      <% end %>
  </table>
  <p><%= link_to "スケジュール新規登録", new_path %></p>
  <%= render 'layouts/footer' %>
</div>